<h1>Usuarios Registrados</h1>
<div class="clear"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Telefono</th>
      <th scope="col">Dirección</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users">
      <td>{{item.firsName}}</td>
      <td>{{item.secondName}}</td>
      <td>{{item.firsSurname}}</td>
      <td>{{item.secondSurname}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.addres}}</td>
      <td>
        <img src="../assets/user_red_edit.png" class="editIcon" (click)="editUser(item)">
        <img src="../assets/user_red_delete2.png" class="editIcon" (click)="deleteUser(item)">
      </td>
    </tr>
  </tbody>
</table>