<h1>Usuarios Registrados</h1>
<div class="clear"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Telefono</th>
      <th scope="col">Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Yasser</td>
      <td>Alexander</td>
      <td>Pérez</td>
      <td>Urariyu</td>
      <td>3015668291</td>
      <td>Cra 73B</td>
    </tr>
  </tbody>
</table>